.wrapper {  overflow-x: hidden;
	display: flex;  flex-direction: column;
  }header {
	height: 100vh;  background: linear-gradient(rgba(1, 3, 56, 0.8), rgba(1, 3, 56, 0.4)),
	  url(fon.jpg);  -webkit-background-size: cover;
	background-size: cover;  background-attachment: fixed;
	background-repeat: no-repeat;  background-position: 50% 50%;
  }.foot {
	background-color: black;}
  
  .navigation {  display: flex;
	justify-content: space-between;
	width: 100%;  
	height: 70px;
	margin: 0 auto;
	padding: 1% 0% 1% 0%;
	background-color: #00D4C6;
  }
  .picdiv {
   display: flex; align-items: center;
   gap: 15px;}
  
  .menu {
	display: flex;}
  .nav {
	display: flex;  list-style: none;
	gap: 15px;  flex-wrap: wrap;
  }
  .nav li a {  color: #fff;
	text-decoration: none;  font-size: 18px;
  }
  .piciv {  align-self: left;
	font-size: auto;}
  .logo {
	font-size: 40px;  font-family: "Quicksand", sans-serif;
	color: #c6f1e7;  float: left;
	align-self: left;
  }
  .link {
	transition: 0.3s;}
  .link:hover {
	color: #00d4c6;  background-color: inherit;
  }/* header */
  html {  height: 100vh;
	background: linear-gradient(rgba(1, 3, 56, 0.8), rgba(1, 3, 56, 0.4)),    url(fon.jpg);
	-webkit-background-size: cover;  background-size: cover;
	background-attachment: fixed;  background-repeat: no-repeat;
	background-position: 50% 50%;}
  body {
	background-color: transparent;
	font-family: "Ubuntu", sans-serif;}
  .container {
	max-width: fit-content;  margin: 20px auto;
	background-color: inherit;  border: 0px;
	text-align: center;  background-color: inherit;
  }
  .container .image {  float: left;
	background-color: #c6f1e7;  height: 600px;
  }
  .container .frm {  background-color: #c6e4b2;
	float: right;  height: 600px;
	padding: 0 35px;}
  .container .form-control {
	width: 90%;  padding: 12px 20px;
	height: auto;}
  .form-container {
	display: flex;  justify-content: center;
	width: fit-content;
  }
  .form-container div {  width: 400px;
	display: flex;  flex-direction: column;
	justify-content: center;  align-items: center;
  }
  .btn {
	width: fit-content;  padding: 10px 15px;
  }
  @media screen and (max-width: 767px) {  .form-container {
	  flex-direction: column;    max-width: 80%;
	}
	.nav {    max-width: 150px;
	  gap: 5px;  }
  
	.logo-text {    display: none;
	}}
  .container_ {
	width: 100%;  max-width: 500px;
	margin: 0 auto;  padding: 20px;
	box-sizing: border-box;  background-color: #fff;
	border-radius: 10px;  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  .calc-container_ {  display: flex;
	flex-direction: column;  align-items: center;
  }
  .row {  width: 100%;
	display: flex;  justify-content: space-between;
	align-items: center;  margin-bottom: 20px;
  }
  .row1 .col1,.row1 .col2,
  .row1 .col3 {  display: flex;
	flex-direction: column;  width: 30%;
  }
  .row1 label {  font-size: 14px;
	color: #333;  margin-bottom: 5px;
  }
  .row1 input,.row1 select {
	padding: 10px;  font-size: 16px;
	border-radius: 5px;  border: 1px solid #ddd;
  }
  #linktxt
  {
	  color: black;
	  font-size: large;
  }
  .row2 button {
	padding: 10px 20px;  font-size: 16px;
	border: none;  background-color: #007bff;
	color: #fff;  border-radius: 5px;
	cursor: pointer;}
  .row2 button:hover {
	background-color: #0056b3;}
  .row3 {  display: flex;
	flex-direction: column;  align-items: center;
	justify-content: center;
  }
  .row3 label {  text-align: center;
	font-size: 16px;  color: #333;
	margin-bottom: 10px;}
  .sum {
	width: 100%;  max-width: 300px; /* limit the width of the sum box */
	padding: 20px;  text-align: center;
	background-color: #f9f9f9;
	border-radius: 5px;  border: 1px solid #ddd;
  }
  .sum p {  font-size: 18px;
	color: #333;}