body {
	margin: 0;
	padding: 0;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Roboto', sans-serif;
}

header {
	height: 100vh;
	background: linear-gradient(rgba(1, 3, 56, .8), rgba(1, 3, 56, .4)), url(photo/teach.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.foot{
	background-color: black;
	
}
.navbar a{
	color: #fff;
	
}

.navbar{
	background-color: #00D4C6;
}
.navigation {
	display: flex;
	justify-content: space-between;
	
	width: 80%;
	margin: 0 auto;
	

	padding:3% 0% 3% 0%;
	color: #fff;
}

.menu {
	display: flex;
}

.nav {
	display: flex;
	list-style: none;
}

.nav li a {
	color: #fff;
	text-decoration: none;
	margin: 0 30px 0 0;
	font-size: 18px;
}

.icon li a {
	margin: 0 20px 0 0;
}
.piciv
{align-self: left;
font-size: auto;}

.logo {
	font-size: 40px;

	color: #c6f1e7 ;
	float: left; 
	
			align-self: left;

}

.link {
	transition: .3s;
}

.link:hover {
	color: #00D4C6;
}

.description {
	top: 35%;
	left: 10%;
	width: 35%;
	position: absolute;
}

.description h1 {
	margin: 0;
	font-size: 40px;
	color: #fff;
}

.description p {
	color: #c7c7c7;
	font-size: 20px;
}

.shop {
	background: none;
	border: 2px solid #00D4C6;
	text-decoration: none;
	color: #00D4C6;
	font-size: 16px;
	text-transform: uppercase;
	padding: 10px 25px;
	border-radius: 5px;
	font-weight: bold;
	transition: .4s;
}

.shop:hover {
	background: #00D4C6;
	color: #fff;
}

.post-navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	position: absolute;
	top: 92%;
	left: 50%;
	transform: translate(-50%, -50%);
}



.post-nav {
	display: flex;
	list-style: none;
}

.post-nav li {
	padding: 0 30px 0 0;
}

.post-nav li a {
	color: #c7c7c7;
	text-decoration: none;
	font-size: 18px;
}
/* FAQ styles  */
.fon{
	background-image: url(photo/photo_2021-04-14_09-26-34.jpg);
	width: 100%;
	background-size: cover;
	display: flex;
	justify-content: center;
	height: 100%;
}
.container{
	width: 80%;
background-color: rgb(255, 255, 255,0.5);

display: flex;
text-align: center;
flex-direction: column;

}
#linktxt
{
	color: black;
	font-size: large;
}
#body{
	background-color: rgb(95, 95, 95);
}
details{
	padding: 20px;
	font-size:30px;
	color: black;
}
@media only screen and (min-width: 992px) {}
  @media only screen and (min-width: 480px) {}
  @media only screen and (min-width: 1382px) {}


/*Main FOOTER*/
